{{ define "main" }}
<article>
    <!-- post main content -->
    <div class="post-content markdown-body">
        {{ .Content }}
    </div>
</article>
<!-- post license -->
{{ if and (or .Site.Params.showLicense .Params.showLicense) (ne .Params.showLicense false) }}
<div class="license markdown-body">
    <blockquote>
        <p>{{ i18n "postCopyrightFront" }}<a rel="license" href="{{ .Site.Params.licenseLink }}" target="_blank">{{
                .Site.Params.license }}</a>{{ i18n "postCopyrightEnd" }}</p>
    </blockquote>
</div>
{{ end }}
{{ if and (.Site.Params.disqusJSApi) (ne .Params.showComments false) }}
{{ partial "comment-disqusjs.html" . }}
{{ else if and (.Site.Params.disqusShortname) (ne .Params.showComments false) }}
{{ partial "comment-disqus.html" . }}
{{ else if and (.Site.Params.utterancesRepo) (ne .Params.showComments false) }}
{{ partial "comment-utterances.html" . }}
{{ else }}{{ end }}
{{ end }}